@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles for the Redzone Recruiting app */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}